CODEOWNERS @botpress/leads

entities @squid
depsynky @botpress/squid
es-node @botpress/squid
jex @botpress/squid
log4bot @botpress/squid
opapi @botpress/squid
pingrip @botpress/kraken
promex @michaelmass
ptb-schema @squid
readiness @botpress/squid
trail @michaelmass
tunnel @botpress/kraken
verel @botpress/squid
yargs-extra @botpress/squid
slackdown @botpress/squid
